<!-- <div class="login-wrapper" *ngIf="hideLogin">
    <div class="login-app-name">My Health & Care</div>
    <div class="fortish">
        <div class="fortish-text ">A Fourtish Service</div>
    </div>
    <form [formGroup]="loginForm">
        <div>
            <input type="text" class="username" placeholder="Username" formControlName="username">
        </div>

        <div>
            <input type="password" class="password" placeholder="Password" formControlName="password">
        </div>
        <button (click)="userDetails()" class="login-btn">Login</button>
    </form>
</div> -->

<!-- <hp-app-patient-profile *ngIf="validUser"></hp-app-patient-profile> -->
<hp-app-patient-profile></hp-app-patient-profile>